<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ChristAtAss</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
   <!-- Servlet Declaration for AttendeesServlet -->

  <!-- Servlet Declaration -->
  <servlet>
    <servlet-name>AttendeesServlet</servlet-name>
    <servlet-class>servletfolder.AttendeesServlet</servlet-class> <!-- Fully qualified class name -->
  </servlet>

  <!-- Servlet Mapping -->
  <servlet-mapping>
    <servlet-name>AttendeesServlet</servlet-name>
    <url-pattern>/attendees</url-pattern> <!-- Custom URL pattern -->
  </servlet-mapping>
</web-app>